.btn{
    width: 100%;
    background-color: aquamarine;
    color: white;
    padding: 15px 30px;
    cursor: pointer;
    border: none;
}

.btn:disabled{
    background-color: gray;
    cursor: not-allowed;
}